- A Pandas Series is one of the fundamental data structures in the pandas library, which is built for handling and analyzing data in Python. A Series is like a column in an Excel spreadsheet or a single column of a DataFrame, but it can also be used independently. Let's break down the important aspects of a Series.
___

- A Series is essentially a 1-dimensional labeled array capable of holding data of any type (integers, floats, strings, etc.). It has two main components:

- Values: The data that you store inside the Series
- Index: The labels for each element in the Series (the row labels). If you don't specify an index, pandas will automatically create a default integer index (0, 1, 2, â€¦).

In [1]:
import pandas as pd

# Creating a Series from a list
data = [10, 20, 30, 40, 50]
s = pd.Series(data)

print(s)

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [2]:
# Creating a Series with a custom index
data = [10, 20, 30, 40, 50]
index = ['a', 'b', 'c', 'd', 'e']
s = pd.Series(data, index=index)

print(s)

a    10
b    20
c    30
d    40
e    50
dtype: int64

#### Accessing Elements in a Series
You can access individual elements in a Series using indexing or label-based access.

In [3]:
# Accessing the element at index 2 (zero-based index)
print(s[2])

30

#### If you have a custom index, you can access elements by the label.

In [4]:
print(s['c'])

30

### Basic Operations with Series

In [5]:
# Adding 5 to each element
s_plus_5 = s + 5
print(s_plus_5)

a    15
b    25
c    35
d    45
e    55
dtype: int64

#### Comparison Operations:

In [ ]:

print(s > 30)

####  Using Methods on Series

In [6]:
# Summing up all elements in the Series
print(s.sum())

150

In [7]:
# Finding the mean of the Series
print(s.mean())

30.0

In [8]:
# Apply a custom function (e.g., square each element)
squared = s.apply(lambda x: x**2)
print(squared)

a     100
b     400
c     900
d    1600
e    2500
dtype: int64

#### Handling Missing Data in Series
- You can handle missing data in a Series using NaN (Not a Number). Pandas provides methods like isna(), fillna(), and dropna() to manage missing data.

In [9]:
import numpy as np

data = [10, 20, np.nan, 40, 50]
s = pd.Series(data)
print(s)

0    10.0
1    20.0
2     NaN
3    40.0
4    50.0
dtype: float64

In [10]:
# Filling missing values with the mean of the Series
s_filled = s.fillna(s.mean())
print(s_filled)

0    10.0
1    20.0
2    30.0
3    40.0
4    50.0
dtype: float64

In [11]:
# Dropping rows with NaN values
s_dropped = s.dropna()
print(s_dropped)

0    10.0
1    20.0
3    40.0
4    50.0
dtype: float64

#### Indexing & Slicing in Series

In [12]:
# Slicing by integer index
print(s[1:4])

1    20.0
2     NaN
3    40.0
dtype: float64

In [14]:
data = [10, 20, 30, 40, 50]
index = ['a', 'b', 'c', 'd', 'e']
s = pd.Series(data, index=index)

print(s)

a    10
b    20
c    30
d    40
e    50
dtype: int64

In [15]:
# Slicing by labels
print(s['b':'d'])

b    20
c    30
d    40
dtype: int64