#### 1. Indexing by Label:

- When you index by label, you're using the index labels (row names) or column names that you defined when creating the DataFrame. This is done using ``.loc[]`` for rows and ``.iloc[]`` for columns.

###  2.Indexing by Integer Index:

- When you index by position, you're using the integer-based position (like the position in an array or list). This is done using ``.iloc[]`` for both rows and columns.

In [1]:
import pandas as pd

# Creating a simple DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
    'Age': [23, 35, 45, 50, 29],
    'City': ['New York', 'Los Angeles', 'Chicago', 'Houston', 'Phoenix']
}

df = pd.DataFrame(data)
df.set_index('Name', inplace=True)  # Set 'Name' column as index for label-based indexing

print(df)

         Age         City
Name
Alice     23     New York
Bob       35  Los Angeles
Charlie   45      Chicago
David     50      Houston
Eva       29      Phoenix

In [2]:
df

         Age         City
Name
Alice     23     New York
Bob       35  Los Angeles
Charlie   45      Chicago
David     50      Houston
Eva       29      Phoenix

##### Indexing by Label (.loc[])

In [3]:
# Rows

print(df.loc['Alice'])

Age           23
City    New York
Name: Alice, dtype: object

In [4]:
#Accessing Specific Column by Label:
# Access the 'City' for 'Bob'
print(df.loc['Bob', 'City'])

Los Angeles

In [7]:
#Accessing Multiple Rows by Labels:
# Access rows for 'Alice' and 'David'
print(df.loc[['Alice', 'David']])

       Age      City
Name
Alice   23  New York
David   50   Houston

In [8]:
# Accessing Multiple Columns by Label:
# Access 'Age' and 'City' for 'Charlie'
print(df.loc['Charlie', ['Age', 'City']])

Age          45
City    Chicago
Name: Charlie, dtype: object

### Indexing by Position (.iloc[])

- Accessing Rows by Position (Integer-based Index):
     - To access rows based on the integer position (starting from 0), you use .iloc[]

In [9]:
# Access the first row (position 0)
print(df.iloc[0])

Age           23
City    New York
Name: Alice, dtype: object

In [10]:
# Accessing Specific Column by Position:

In [11]:
print(df.iloc[0, 1])

New York

In [12]:
# Accessing Multiple Rows by Position:

In [13]:
print(df.iloc[[0, 3]])

       Age      City
Name
Alice   23  New York
David   50   Houston

In [14]:
# Accessing Multiple Columns by Position:

In [15]:
# Access the first two columns for the first row
print(df.iloc[0, [0, 1]])

Age           23
City    New York
Name: Alice, dtype: object

### Slicing Rows and Columns:

In [16]:
# Select rows 1 to 3 (exclusive of 3) and columns 0 and 1 (Age and City)
print(df.iloc[1:3, 0:2])

         Age         City
Name
Bob       35  Los Angeles
Charlie   45      Chicago