#### syntax
`df.iloc[<row_indexer>, <column_indexer>]`
- `<row_indexer> `:It can be an integer, slice, list of integers, or boolean array.
- ` <column_indexer> ` : Specifies the column positions. It can also be an integer, slice, list of integers, or boolean array.


### Syntax for iloc in Series:

series.iloc[index]

#### 1. Access a Single Element in a Series

In [1]:
import pandas as pd

# Create a Series
data = {'A': 10, 'B': 20, 'C': 30}
series = pd.Series(data)

# Access the element at position 0 (first element)
element = series.iloc[0]
print(element)  # Output: 10

10

#### 2. Access Multiple Elements Using a List of Indices

In [2]:
# Access elements at positions 0 and 2
subset = series.iloc[[0, 2]]
print(subset)

A    10
C    30
dtype: int64

#### 3. Access a Range of Elements (Slicing)

In [3]:
# Access elements from index 0 to 1 (up to but not including index 2)
subset = series.iloc[0:2]
print(subset)

A    10
B    20
dtype: int64

#### 4. Access the Last Element

In [4]:
# Access the last element
last_element = series.iloc[-1]
print(last_element)  # Output: 30

30

#### 5.Access a Subset with Slicing and Negative Indices

In [5]:
# Access the last two elements
last_two = series.iloc[-2:]
print(last_two)

B    20
C    30
dtype: int64

### Syntax for iloc in DataFrame:

df.iloc[row_index, column_index]

In [6]:
import pandas as pd

# Sample DataFrame
data = {'Name': ['Alice', 'Bob', 'Charlie'], 'Age': [25, 30, 35], 'City': ['New York', 'Los Angeles', 'Chicago']}
df = pd.DataFrame(data)

#### 1. Access a Single Element (using row and column indices)

In [7]:
# Select the element at row 0, column 1 (i.e., "Age" of Alice)
element = df.iloc[0, 1]
print(element)  # Output: 25

25

#### 2.Access a Single Row by Index

In [8]:
# Select the first row (index 0)
row = df.iloc[0, :]
print(row)

Name       Alice
Age           25
City    New York
Name: 0, dtype: object

#### 3. Access a Single Column by Index

In [9]:
# Select the first column (index 0)
column = df.iloc[:, 0]
print(column)

0      Alice
1        Bob
2    Charlie
Name: Name, dtype: object

#### 4. Access a Subset of Rows and Columns

In [10]:
# Select rows 0 and 1, and columns 0 and 1
subset = df.iloc[0:2, 0:2]
print(subset)

    Name  Age
0  Alice   25
1    Bob   30

#### 5. Access Multiple Rows and Columns Using Lists

In [11]:
# Select rows 0 and 2, and columns 0 and 2
subset = df.iloc[[0, 2], [0, 2]]
print(subset)

      Name      City
0    Alice  New York
2  Charlie   Chicago

#### 6. Access Rows and Columns Using Negative Indices

In [12]:
# Access the last row and all columns
last_row = df.iloc[-1, :]
print(last_row)

Name    Charlie
Age          35
City    Chicago
Name: 2, dtype: object

#### 7. Access the Last N Rows

In [13]:
# Select the last two rows and all columns
last_two_rows = df.iloc[-2:, :]
print(last_two_rows)

      Name  Age         City
1      Bob   30  Los Angeles
2  Charlie   35      Chicago