### 1. Selecting rows by index label:
To select rows by the row index label, simply pass the label or a list of labels inside loc[].

In [1]:
import pandas as pd

data = {'Name': ['Alice', 'Bob', 'Charlie', 'David'],
        'Age': [25, 30, 35, 40],
        'City': ['New York', 'Los Angeles', 'Chicago', 'Houston']}
df = pd.DataFrame(data)
df.set_index('Name', inplace=True)  # Set 'Name' as index

# Selecting a row by index label
print(df.loc['Alice'])

Age           25
City    New York
Name: Alice, dtype: object

In [2]:
df

         Age         City
Name
Alice     25     New York
Bob       30  Los Angeles
Charlie   35      Chicago
David     40      Houston

#### 2. Selecting multiple rows by index labels:

In [3]:
print(df.loc[['Alice', 'Charlie']])

         Age      City
Name
Alice     25  New York
Charlie   35   Chicago

#### 3. Selecting rows with a range of index labels (slicing):

In [4]:
print(df.loc['Alice':'Charlie'])

         Age         City
Name
Alice     25     New York
Bob       30  Los Angeles
Charlie   35      Chicago

#### 4. Selecting both rows and columns:

In [5]:
# Selecting 'Age' and 'City' columns for 'Alice'
print(df.loc['Alice', ['Age', 'City']])

Age           25
City    New York
Name: Alice, dtype: object

#### 5. Using boolean conditions to select rows:

In [6]:
# Select rows where 'Age' is greater than 30
print(df.loc[df['Age'] > 30])

         Age     City
Name
Charlie   35  Chicago
David     40  Houston

#### 6. Assigning values to a selection:

In [7]:
# Set 'Age' of 'Alice' to 28
df.loc['Alice', 'Age'] = 28
print(df)

         Age         City
Name
Alice     28     New York
Bob       30  Los Angeles
Charlie   35      Chicago
David     40      Houston

#### 7. Using loc[] with slicing on both rows and columns:

In [8]:
# Select rows 'Alice' to 'Charlie' and columns 'Age' and 'City'
print(df.loc['Alice':'Charlie', ['Age', 'City']])

         Age         City
Name
Alice     28     New York
Bob       30  Los Angeles
Charlie   35      Chicago

___
___

#### 1. Conditional Selection with loc[]

In [9]:
import pandas as pd

# Sample data
data = {'Name': ['Alice', 'Bob', 'Charlie', 'David'],
        'Age': [25, 30, 35, 40],
        'City': ['New York', 'Los Angeles', 'Chicago', 'Houston']}
df = pd.DataFrame(data)

In [10]:
# Select rows where 'Age' > 30
filtered_df = df.loc[df['Age'] > 30]
print(filtered_df)

      Name  Age     City
2  Charlie   35  Chicago
3    David   40  Houston

In [11]:
# Select rows where 'Age' > 30 and 'City' is 'Houston'
filtered_df = df.loc[(df['Age'] > 30) & (df['City'] == 'Houston')]
print(filtered_df)

    Name  Age     City
3  David   40  Houston

In [12]:
# Assign a new value to 'Age' where the condition is met
df.loc[df['Age'] > 30, 'Age'] = 32
print(df)

      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   32      Chicago
3    David   32      Houston

In [13]:
# Assign new values to both 'Age' and 'City' where the condition is met
df.loc[df['Age'] > 30, ['Age', 'City']] = [33, 'San Francisco']
print(df)

      Name  Age           City
0    Alice   25       New York
1      Bob   30    Los Angeles
2  Charlie   33  San Francisco
3    David   33  San Francisco

#### 1. Using isna() or isnull() for Condition

In [14]:
import pandas as pd

# Sample data with NaN values
data = {'Name': ['Alice', 'Bob', 'Charlie', 'David'],
        'Age': [25, None, 35, None],
        'City': ['New York', 'Los Angeles', 'Chicago', None]}
df = pd.DataFrame(data)

# Select rows where 'Age' is NaN
nan_rows = df.loc[df['Age'].isna()]
print(nan_rows)

    Name  Age         City
1    Bob  NaN  Los Angeles
3  David  NaN         None

#### 2. Using isna() for Conditional Assignment

In [15]:
# Assign a default value where 'Age' is NaN
df.loc[df['Age'].isna(), 'Age'] = 30
print(df)

      Name   Age         City
0    Alice  25.0     New York
1      Bob  30.0  Los Angeles
2  Charlie  35.0      Chicago
3    David  30.0         None

#### 3. Using isna() with Multiple Columns

In [16]:
# Select rows where any column has NaN values
nan_rows_any = df.loc[df.isna().any(axis=1)]
print(nan_rows_any)

    Name   Age  City
3  David  30.0  None

#### 4. Using isna() with Specific Column and Condition

In [17]:
# Select rows where 'Age' is NaN and 'City' is 'Chicago'
nan_and_condition = df.loc[df['Age'].isna() & (df['City'] == 'Chicago')]
print(nan_and_condition)

Empty DataFrame
Columns: [Name, Age, City]
Index: []