### df[ ]
- **“I just want a column or filtered rows”**

____

 **Use for columns**

- df["Age"]
- df[["Name", "City"]]

**Use for filtering rows**

- df[df["Age"] > 23]

___

### df.loc

- **Think: “I know row names and column names”**

**Use for reading**

- df.loc[101]
- df.loc[101, "City"]

**Use for filtering + selecting columns**
- df.loc[df["Age"] > 23, ["Name", "Age"]]

**Use for modification**
- df.loc[df["City"] == "Delhi", "Age"] = 24

___

### df.iloc

- **Think: “I care about position, not labels”**

**Use for reading by position**

- df.iloc[0]
- df.iloc[0, 1]
- df.iloc[0:2, 0:2]

___
___

____
____

#### at
- Fast access for a single value (label-based)
- df.at[2, 'salary']
- df.at[2, 'salary'] = 60000

____

#### iat

- Integer position–based 
- Access or set **ONE scalar value**

- df.iat[2, 1]
- df.iat[2, 1] = 60000

___

#### get()
- Returns column if exists else None or default value
-  df.get('salary')
- df.get('bonus', 0)

___

#### filter()
- Select columns/rows using names, regex, or like
- df.filter(['name','salary'])
- df.filter(like='date')
- df.filter(regex='^emp')

- df.filter(items=['user_id', 'salary'], axis=1)

- df2 = df.set_index('user_id')

- df2.filter(items=[1, 3], axis=0)

___

#### where()

- Keeps values if condition is true
- Replaces others with NaN or custom value

- df['salary'].where(df['salary'] > 50000)

- df['salary'].where(df['salary'] > 50000, 0)

___

#### mask

- You want to replace values that meet condition

- df['salary'].mask(df['salary'] < 50000, 0)

___

#### take()

- Position-based row/column selection
- df.take([0, 3, 5])
- columns
   - df.take([1, 2], axis=1)